div{
    height:100px;
    width: 100px;
    background-color: pink;
    position: absolute;
    top: 100px;
    left:100px;
    /* transform: scale(2) ; enlarges 2 times */
    /* transform: scale(1,2) ; reamins same size in width but 
    enlarges 2 times in terms of height(x,y) i.e., width,height */
    transition: all 2s ease-in;
}

div:hover{
    background-color: black;
    color:white;
    font-size: 20px;
    transform: scale(2)
}

div:active{
    background-color: yellow;
}