body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#main{
    height: 250px;
    width: 900px;
    border:2px solid black;
    display: flex;
    flex-direction: column;
}
#box1{
    
    background-color: blue;
    
}
#box2{
    
    background-color: pink;
    
}
#box3{
    
    background-color: yellow;
}
#box4{
    
    background-color: green;
}
#box5{
    
    background-color: purple;
}